.idea
.vscode
*.log
logs/
*.pid
*.seed
*.pid.lock

dist/
build/
node_modules/
coverage/
.nyc_output/
temp/
.tmp/
.temp/

.env
.env.*
!.env.example

.DS_Store

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

frontend/node_modules
backend/node_modules

/frontend/.next
/frontend/dist
frontend/next-env.d.ts
/frontend/build
/backend/dist
/backend/build
